body{
	position: relative;
	padding-top: 50px;
}

/* the top nav bar*/
.notify-nav{
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	background-color: #563d7c;
	border-color: #463265;
	box-shadow:0 1px 0 rgba(255,255,255,.1);
	background-image: none;
}

.notify-nav .navbar-brand{
	text-shadow:0 -1px 0 rgba(0,0,0,.15);
}

.notify-section{
	padding: 30px 15px 40px;
}

.notify-nav .navbar-nav > .active > a, 
.notify-nav .navbar-nav > .active > a:hover{
	color:#fff;
	background-color: #463256;
}



/*Start of nav */
.side-bar.affix {
  position: static;
}

/* First level of nav */
.side-barnav {
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.side-bar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.side-bar .nav > li > a:hover,
.side-bar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.side-bar .nav > .active > a,
.side-bar .nav > .active:hover > a,
.side-bar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.side-bar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.side-bar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .side-bar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .side-bar.affix,
  .side-bar.affix-bottom {
    width: 213px;
  }
  .side-bar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .side-bar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .side-bar.affix-bottom .side-barnav,
  .side-bar.affix .side-barnav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .side-bar.affix-bottom,
  .side-bar.affix {
    width: 263px;
  }
}


/*Icon of users*/
span.glyphicon.glyphicon-user.active{
	color:#169B36;
}

span.glyphicon.glyphicon-user{
	color:#767A77;
}
